input {
  border: 1px solid #d9d9d9;
  padding: 8px 6px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.65);
  outline: none;
  position: absolute;
}
input:focus {
  border-color: #27ba9b;
}
.clearableFn-icon {
  width: 20px;
  position: relative;
  background-color: #Fff;
  z-index: 9;
}
